/*
  DIAGNOSTIC STYLING
*/
body {
  background: #2972b6;
  font-family: 'Port Lligat Slab', serif;
}




/************
LAYOUT
************/
body {
  /* Center to Page   */
  margin: 0 auto;
  max-width: 56em;
  padding: 1em 0;
  
  /* CSS Grid Layout   */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  grid-gap: 1em;
}

header,
footer {
  grid-column: 1 / span 5;
}

main {
  grid-column: 1 / span 3;
}

aside {
  grid-column: span 2;
}


/************
HEADER
************/
/* Your Styles */
h1,h5 {
  color: #001d4f;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

/************
MOVIE TRAILER w/ MEDIA ELEMENT PLAYER
************/
/* Fit <video> to container */
video {
  max-width: 100%;
}

.mejs__currenttime, 
.mejs__duration {
  font-size: 12px;
}

.mejs__time-current {
  background: 	#4ebcff;
}

/************
ACTORS
************/
main section { 
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
img {
  height: 150px;
  justify-items: center;
}
figcaption {
  color:#001d4f;

}

/************
ASIDE
************/
p,li {
  color: #001d4f;
}

/************
FOOTER
************/
footer {
  text-align: center;
}
p{
  color: #001d4f;
}

/************
RWD
************/
@media (max-width: 700px) {

  main,
  aside {
    grid-column: 1 / span 5;
  }
  
}